:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e6e6e6;
}

input {
  display: block;
  padding: 0.5rem 0.6rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}
